### Segmenting and Clustering Neighborhoods in Toronto

For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

1. Start by creating a new Notebook for this assignment.
2. Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a  pandas dataframe like the one shown below:

3. To create the above dataframe:

    3a. The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
    3b. Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
    3c. More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will  notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
    3d. If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
    3e. Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
    3f. In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.


4. Submit a link to your Notebook on your Github repository.

In [2]:
# import libraries 
import numpy as np 
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [3]:
# target url 

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
url

'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [4]:
# requests will provide us with our target's HTML, 
# and beautifulsoup4 will parse that data

html_content = requests.get(url).text
soup = BeautifulSoup(html_content, "lxml")

In [140]:
# print soup in order to find table
#print(soup.prettify())

In [141]:
# find and print table using soup 
table = soup.find('table',class_='wikitable sortable')
# table

In [142]:
# find headers 
headers = table.find_all('th')
#headers

In [143]:
# find table rows 
rows = table.find_all('tr')
#rows

In [86]:
# clean data and create array 
info = []

for i in rows:
    info.append([ii.text.strip() for ii in i.find_all('td')])
info[1:10]

[['M1A', 'Not assigned', 'Not assigned'],
 ['M2A', 'Not assigned', 'Not assigned'],
 ['M3A', 'North York', 'Parkwoods'],
 ['M4A', 'North York', 'Victoria Village'],
 ['M5A', 'Downtown Toronto', 'Harbourfront'],
 ['M6A', 'North York', 'Lawrence Heights'],
 ['M6A', 'North York', 'Lawrence Manor'],
 ['M7A', 'Downtown Toronto', "Queen's Park"],
 ['M8A', 'Not assigned', 'Not assigned']]

In [87]:
df = pd.DataFrame(info, columns=['Postal Code', 'Borough', 'Neighbourhood'])
df

    Postal Code       Borough          Neighbourhood
0          None          None                   None
1           M1A  Not assigned           Not assigned
2           M2A  Not assigned           Not assigned
3           M3A    North York              Parkwoods
4           M4A    North York       Victoria Village
..          ...           ...                    ...
283         M8Z     Etobicoke              Mimico NW
284         M8Z     Etobicoke     The Queensway West
285         M8Z     Etobicoke  Royal York South West
286         M8Z     Etobicoke         South of Bloor
287         M9Z  Not assigned           Not assigned

[288 rows x 3 columns]

In [88]:
# exclude none from Postal 
df = df[~df['Postal Code'].isnull()]  
df

    Postal Code           Borough          Neighbourhood
1           M1A      Not assigned           Not assigned
2           M2A      Not assigned           Not assigned
3           M3A        North York              Parkwoods
4           M4A        North York       Victoria Village
5           M5A  Downtown Toronto           Harbourfront
..          ...               ...                    ...
283         M8Z         Etobicoke              Mimico NW
284         M8Z         Etobicoke     The Queensway West
285         M8Z         Etobicoke  Royal York South West
286         M8Z         Etobicoke         South of Bloor
287         M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

In [90]:
# exclude Not assigned from Borough 
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)

In [91]:
df1 = df.reset_index()

In [92]:
df1.loc[df1['Postal Code']=="M1B"]

   index Postal Code      Borough Neighbourhood
7     11         M1B  Scarborough         Rouge
8     12         M1B  Scarborough       Malvern

In [93]:
# Group by Postal code and combine data of 'Borough and 'Neighbourhood' separated by comma   
df2= df1.groupby('Postal Code').agg(lambda x: ','.join(x))
df2

,Borough,Neighbourhood
Postal Code,,
M1B,"Scarborough,Scarborough","Rouge,Malvern"
M1C,"Scarborough,Scarborough,Scarborough","Highland Creek,Rouge Hill,Port Union"
M1E,"Scarborough,Scarborough,Scarborough","Guildwood,Morningside,West Hill"
M1G,Scarborough,Woburn
M1H,Scarborough,Cedarbrae
...,...,...
M9N,York,Weston
M9P,Etobicoke,Westmount
M9R,"Etobicoke,Etobicoke,Etobicoke,Etobicoke","Kingsview Village,Martin Grove Gardens,Richvie..."
M9V,"Etobicoke,Etobicoke,Etobicoke,Etobicoke,Etobic...","Albion Gardens,Beaumond Heights,Humbergate,Jam..."
M9W,Etobicoke,Northwest

In [94]:
df2.loc[df2['Neighbourhood']=="Not assigned",'Borough']
df2

,Borough,Neighbourhood
Postal Code,,
M1B,"Scarborough,Scarborough","Rouge,Malvern"
M1C,"Scarborough,Scarborough,Scarborough","Highland Creek,Rouge Hill,Port Union"
M1E,"Scarborough,Scarborough,Scarborough","Guildwood,Morningside,West Hill"
M1G,Scarborough,Woburn
M1H,Scarborough,Cedarbrae
...,...,...
M9N,York,Weston
M9P,Etobicoke,Westmount
M9R,"Etobicoke,Etobicoke,Etobicoke,Etobicoke","Kingsview Village,Martin Grove Gardens,Richvie..."
M9V,"Etobicoke,Etobicoke,Etobicoke,Etobicoke,Etobic...","Albion Gardens,Beaumond Heights,Humbergate,Jam..."
M9W,Etobicoke,Northwest

In [95]:
df3 = df2.reset_index()
df3

,Postal Code,Borough,Neighbourhood
0,M1B,"Scarborough,Scarborough","Rouge,Malvern"
1,M1C,"Scarborough,Scarborough,Scarborough","Highland Creek,Rouge Hill,Port Union"
2,M1E,"Scarborough,Scarborough,Scarborough","Guildwood,Morningside,West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,"Etobicoke,Etobicoke,Etobicoke,Etobicoke","Kingsview Village,Martin Grove Gardens,Richvie..."
101,M9V,"Etobicoke,Etobicoke,Etobicoke,Etobicoke,Etobic...","Albion Gardens,Beaumond Heights,Humbergate,Jam..."
102,M9W,Etobicoke,Northwest

In [96]:
# exclude double counting or more  from Borough 
df3['Borough']= df3['Borough'].str.replace('nan|[{}\s]','').str.split(',').apply(set).str.join(',').str.strip(',').str.replace(",{2,}",",")

In [97]:
df3.head()

  Postal Code      Borough                         Neighbourhood
0         M1B  Scarborough                         Rouge,Malvern
1         M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2         M1E  Scarborough       Guildwood,Morningside,West Hill
3         M1G  Scarborough                                Woburn
4         M1H  Scarborough                             Cedarbrae

In [126]:
df3.shape

(103, 3)

# Get the latitude and the longitude coordinates of each neighborhood. 
# Once you are able to create the above dataframe, submit a link to the new Notebook on your Github repository. (2 marks)

In [127]:
import wget 
url_get = wget.download( 'http://cocl.us/Geospatial_data/toronto_coordinates.csv') 
coordinates = pd.read_csv(url_get)
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [136]:
# merge two data frames 
df4 = df3.set_index('Postal Code') 
coordinates1 = coordinates.set_index('Postal Code')
df5 = pd.concat([df4, coordinates1], axis=1, join='inner')
df5.reset_index(inplace=True)
df5.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [138]:
df5.shape

(103, 5)